*{
    font-family:'Outfit' ,sans-serif ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(212, 45%, 89%);
    height: 100vh;
}

.card {
    background-color:  hsl(0, 0%, 100%);
    padding:1.5rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}
.card img{
    width: 90%;
    height: 50%;
    border-radius: 0.75rem;
}
.card h1{
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}
.card p{
    color: hsl(216, 15%, 48%);
    font-size: 1rem;
    font-weight: 400;
}
.card a {
    text-decoration: none;
    color: rgb(57, 57, 240);
}